<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">订单列表</div>
                <div class="layui-card-body">
                    <div class="layui-btn-group" style="margin-bottom: 10px;">
                        <button class="layui-btn" data-type="add">新增</button>
                        <button class="layui-btn" data-type="edit">编辑</button>
                        <button class="layui-btn" data-type="del">删除</button>
                        <button class="layui-btn" data-type="detail">查看</button>
                        <button class="layui-btn" data-type="go_plan">进入排期</button>
                    </div>
                    <div class="demoTable" style="margin-bottom: 10px;">
                        款号：
                        <div class="layui-inline">
                            <input class="layui-input" name="sampleCode" id="sampleCode" autocomplete="off">
                        </div>
                        订单号：
                        <div class="layui-inline">
                            <input class="layui-input" name="orderCode" id="orderCode" autocomplete="off">
                        </div>
                        状态：
                        <div class="layui-inline">
                            <div class="layui-form">
                                <select name="type" id="status" lay-filter="typeSelect">
                                    <option value="">请选择</option>
                                    <option value="0">接单</option>
                                    <option value="1">生产阶段</option>
                                    <option value="5">入库</option>
                                    <option value="-1">作废</option>
                                </select>
                            </div>
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <!--<button class="layui-btn" data-type="download">下载</button>
                        <button class="layui-btn" data-type="print">打印</button>-->
                    </div>

                    <table class="layui-table" lay-data="{page: true}" lay-filter="order-table" id="orderTable">
                        <thead>
                        <tr>
                            <th lay-data="{checkbox:true, fixed:'left'}" rowspan="3"></th>
                            <th lay-data="{field:'sampleCode', width:150}" rowspan="3">款号</th>
                            <th lay-data="{field:'orderCode', width:150}" rowspan="3">订单号</th>
                            <th lay-data="{field:'deliveryNumber', width:150}" rowspan="3">交货号</th>
                            <th lay-data="{field:'poNumber', width:150}" rowspan="3">PO号</th>
                            <th lay-data="{field:'type', width:150, templet: '#typeTpl'}" rowspan="3">订单类型</th>
                            <th lay-data="{field:'company', width:150}" rowspan="3">公司</th>
                            <th lay-data="{field:'brand', width:150}" rowspan="3">客户品牌</th>
                            <th lay-data="{field:'photoUrl', width:150, templet: '#imagesTpl', unresize: true}" rowspan="3">图示</th>
                            <th lay-data="{field:'orderTime', width:150}" rowspan="3">下单日期</th>
                            <th lay-data="{align:'center'}" colspan="16">各尺码数量</th>
                            <th lay-data="{field:'totalNum', width:120}" rowspan="3">总计</th>
                            <th lay-data="{field:'status', width:120, templet: '#statusTpl', unresize: true}" rowspan="3">状态</th>
                            <th lay-data="{field:'remarks', width:300}" rowspan="3">备注</th>
                        </tr>
                        <tr>
                            <th lay-data="{align:'center'}" colspan="2">4</th>
                            <th lay-data="{align:'center'}" colspan="2">6</th>
                            <th lay-data="{align:'center'}" colspan="2">8</th>
                            <th lay-data="{align:'center'}" colspan="2">12</th>
                            <th lay-data="{align:'center'}" colspan="2">14</th>
                            <th lay-data="{align:'center'}" colspan="2">16</th>
                            <th lay-data="{align:'center'}" colspan="2">18</th>
                            <th lay-data="{align:'center', templet: '<div>{{d.details[8].sizeType}}</div>'}" colspan="2"></th>
                        </tr>
                        <tr>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[0].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[0].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[1].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[1].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[2].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[2].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[3].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[3].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[4].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[4].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[5].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[5].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[6].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[6].num}}</div>'}">数量</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[7].color}}</div>'}">颜色</th>
                            <th lay-data="{align:'center', width:100, templet: '<div>{{d.details[7].num}}</div>'}">数量</th>
                        </tr>

                        </thead>
                    </table>
                    <script type="text/html" id="imagesTpl">
                        {{#  if(d.photoUrl){ }}
                        <button class="layui-btn images" lay-event="sampleImages">样品</button>
                        {{#  } }}
                    </script>

                    <script type="text/html" id="statusTpl">
                        {{#  if(d.status === 0){ }}
                        <span style="color: #F581B1;">草稿</span>
                        {{#  } else if(d.status === 1) { }}
                        <span style="color: #F581B1;">排期</span>
                        {{#  } else if(d.status === 2) { }}
                        <span style="color: #F581B1;">生产</span>
                        {{#  } else if(d.status === 5) { }}
                        <span style="color: #F581B1;">入库</span>
                        {{#  } else if(d.status === -1) { }}
                        <span style="color: #F581B1;">作废</span>
                        {{#  } }}
                    </script>
                    <script type="text/html" id="typeTpl">
                        {{#  if(d.type === 1){ }}
                        <span style="color: #F581B1;">自营</span>
                        {{#  } else if(d.type === 2) { }}
                        <span style="color: #F581B1;">外贸</span>
                        {{#  } }}
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script src="../../layuiadmin/jquery-2.1.4.min.js"></script>
<script src="../../layuiadmin/jquery.jqprint-0.3.js"></script>
<!--<script src="../../layuiadmin/jQuery.print.js"></script>-->
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$
            , element = layui.element
            , layer = layui.layer
            , table = layui.table;

        //方法级渲染
        table.init('order-table', {
            url:  domain + 'api/order/findOrderPage?t=' + new Date().getTime()
        });

        element.render();
        //监听工具条
        table.on('tool(order-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'sampleImages') {
                var json = {
                    "code": 0,
                    "msg": "",
                    "start": 0
                }
                var images_data = [];
                var images = data.photoUrl.split(",");
                $.each(images, function (index, image) {
                    $("#carousel-img").append("<div><img src=\"" + image + "\"></div>");
                    var image_data = {};
                    image_data.src = image;
                    images_data.push(image_data);
                    json.data = images_data;
                });
                layer.photos({
                    photos: json //格式见API文档手册页
                });
            }
        });

        /* 触发弹层 */
        var active = {
            add: function () {
                var index = layer.open({
                    type: 2,
                    title: "录入订单",
                    content: 'order-add.html',
                    area: ['300px', '300px'],
                    maxmin: true
                });
                layer.full(index);
            },
            edit: function () {
                var checkStatus = table.checkStatus('orderTable')
                    , data = checkStatus.data;
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].id);
                }
                if (ids.length <= 0) {
                    layer.alert("请先选择！");
                    return false;
                }
                if (ids.length > 1) {
                    layer.alert("只可以选择一条记录！");
                    return false;
                }
                var index = layer.open({
                    type: 2,
                    title: "修改订单",
                    content: 'order-edit.html?id=' + ids[0],
                    area: ['300px', '300px'],
                    maxmin: true
                });
                layer.full(index);
            },
            del: function () {
                var checkStatus = table.checkStatus('orderTable')
                    , data = checkStatus.data;
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].id);
                }
                if (ids.length <= 0) {
                    layer.alert("请先选择！");
                    return false;
                }
                layer.confirm('确定批量删除订单？', function (index) {
                    $.ajax({
                        type: 'POST',
                        contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                        url: domain + "api/order/batchDelete",
                        data: {
                            "ids": ids
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                table.reload('orderTable');
                                layer.close(index);
                            } else {
                                layer.alert(result.msg);
                            }
                        },
                        error: function () {
                            console.log("网络错误！");
                        }
                    });
                });
            },
            go_plan: function () {
                var checkStatus = table.checkStatus('orderTable')
                    , data = checkStatus.data;
                var ids = [];
                for (var i = 0; i < data.length; i++) {
                    ids.push(data[i].id);
                }
                if (ids.length <= 0) {
                    layer.alert("请先选择！");
                    return false;
                }
                if (ids.length > 1) {
                    layer.alert("只可以选择一条记录！");
                    return false;
                }
                if(data[0].status != 0){
                    layer.alert("该条记录不可操作！");
                    return false;
                }
                layer.confirm('确定该订单进入排期阶段？', function (index) {
                    $.ajax({
                        type: 'PUT',
                        url: domain + "api/order/updateToPlan/" + ids[0],
                        success: function (result) {
                            if (result.code == 0) {
                                table.reload('orderTable');
                                layer.close(index);
                            } else {
                                layer.alert(result.msg);
                            }
                        },
                        error: function () {
                            console.log("网络错误！");
                        }
                    });
                });
            },
            detail: function () {
                var index = layer.open({
                    type: 2,
                    title: "修改样品",
                    content: 'sample-edit.html',
                    area: ['300px', '300px'],
                    maxmin: true
                });
                layer.full(index);
            },
            reload: function () {
                //执行重载
                table.reload('orderTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        sampleCode: $('#sampleCode').val(),
                        orderCode: $('#orderCode').val(),
                        status: $('#status').val()
                    }
                });
            },
            download: function () {
                const a = document.createElement('a');
                var href = domain + 'api/order/orderExport?1=1';
                if($('#productName').val()){
                    href += '&productName=' + $('#productName').val();
                }
                if($('#cooperationCompany').val()){
                    href += '&cooperationCompany=' + $('#cooperationCompany').val();
                }
                if($('#status').val()){
                    href += '&status=' + $('#status').val();
                }
                a.setAttribute('href', href);
                a.click();
            },
            print: function () {
                $(".my_show").jqprint({
                    debug: false,
                    importCSS: true,
                    printContainer: true,
                    operaSupport: false
                });
                /*$(".my_show").print({
                    globalStyles: true,
                    mediaPrint: false,
                    stylesheet: null,
                    noPrintSelector: ".no-print",
                    iframe: true,
                    append: null,
                    prepend: null,
                    manuallyCopyFormValues: true,
                    deferred: $.Deferred(),
                    timeout: 750,
                    title: null,
                    doctype: '<!doctype html>'
                });*/
            }
        };

        $('.layui-btn-group .layui-btn, .demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

    });

</script>
</body>
</html>