<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">订单列表</div>
                <div class="layui-card-body">
                    <div class="demoTable" style="margin-bottom: 10px;">
                        产品名称：
                        <div class="layui-inline">
                            <input class="layui-input" name="productName" id="productName" autocomplete="off">
                        </div>
                        合作公司：
                        <div class="layui-inline">
                            <input class="layui-input" name="cooperationCompany" id="cooperationCompany" autocomplete="off">
                        </div>
                        状态：
                        <div class="layui-inline">
                            <div class="layui-form">
                                <select name="type" id="status" lay-filter="typeSelect">
                                    <option value="">请选择</option>
                                    <option value="0">接单</option>
                                    <option value="1">打样</option>
                                    <option value="2">采购</option>
                                    <option value="3">排单</option>
                                    <option value="4">生产</option>
                                    <option value="5">入库</option>
                                    <option value="-1">作废</option>
                                </select>
                            </div>
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <!--<button class="layui-btn" data-type="download">下载</button>
                        <button class="layui-btn" data-type="print">打印</button>-->
                    </div>

                    <div class="my_show">
                    <table class="layui-hide" id="order-table" lay-filter="order-table"></table>
                    </div>

                    <script type="text/html" id="statusTpl">
                        {{#  if(d.status === 0){ }}
                        <span style="color: #F581B1;">接单</span>
                        {{#  } else if(d.status === 1) { }}
                        <span style="color: #F581B1;">生产阶段</span>
                        {{#  } else if(d.status === 5) { }}
                        <span style="color: #F581B1;">入库</span>
                        {{#  } else if(d.status === -1) { }}
                        <span style="color: #F581B1;">作废</span>
                        {{#  } }}
                    </script>

                    <script type="text/html" id="user-table-barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script src="../../layuiadmin/jquery-2.1.4.min.js"></script>
<script src="../../layuiadmin/jquery.jqprint-0.3.js"></script>
<!--<script src="../../layuiadmin/jQuery.print.js"></script>-->
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$
            , element = layui.element
            , layer = layui.layer
            , table = layui.table;

        //方法级渲染
        table.render({
            elem: '#order-table'
            , url: domain + 'api/order/findOrderPage?status=1'
            , cols: [[
                {field: 'id', title: '编号', width: 80, sort: true}
                , {field: 'productName', title: '产品名称', width: 180, sort: true}
                , {field: 'orderNum', title: '数量', width: 100, sort: true}
                , {field: 'productUnit', title: '单位', width: 60}
                , {field: 'unitPrice', title: '单价', width: 100}
                , {field: 'totalPrice', title: '总价', width: 100}
                , {field: 'deliverDate', title: '交付时间', width: 110, sort: true}
                , {field: 'orderTime', title: '下单时间', width: 120}
                , {field: 'cooperationCompany', title: '合作公司', width: 120}
                , {field: 'contactPhone', title: '联系方式', width: 120}
                , {field: 'status', title: '状态', width: 80, templet: '#statusTpl', unresize: true}
                , {field: 'createTime', title: '创建时间', width: 120}
                , {field: 'remarks', title: '备注', width: 200}
                , {align: 'center', fixed: 'right', toolbar: '#user-table-barDemo', width: 250}
            ]]
            , id: 'orderTable'
            , page: true
            ,height: 'full-100'
        });

        element.render();


        //监听工具条
        table.on('tool(order-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                var index = layer.open({
                    type: 2,
                    title: "查看订单",
                    content: 'order-detail.html?id=' + data.id,
                    area: ['300px', '300px'],
                    maxmin: true,
                    success: function (layero, index) {
                    }
                });
                layer.full(index);
            }
        });


        /* 触发弹层 */
        var active = {
            reload: function () {
                //执行重载
                table.reload('orderTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        productName: $('#productName').val(),
                        cooperationCompany: $('#cooperationCompany').val(),
                        status: $('#status').val()
                    }
                });
            },
            download: function () {
                const a = document.createElement('a');
                var href = domain + 'api/order/orderExport?1=1';
                if($('#productName').val()){
                    href += '&productName=' + $('#productName').val();
                }
                if($('#cooperationCompany').val()){
                    href += '&cooperationCompany=' + $('#cooperationCompany').val();
                }
                if($('#status').val()){
                    href += '&status=' + $('#status').val();
                }
                a.setAttribute('href', href);
                a.click();
            },
            print: function () {
                $(".my_show").jqprint({
                    debug: false,
                    importCSS: true,
                    printContainer: true,
                    operaSupport: false
                });
            }
        };

        $('.layui-btn-group .layui-btn, .demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

    });

</script>
</body>
</html>