<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">生产计划</div>
                <div class="layui-card-body">
                    <div class="demoTable" style="margin-bottom: 10px;">
                        产品名称：
                        <div class="layui-inline">
                            <input class="layui-input" name="productName" id="productName" autocomplete="off">
                        </div>
                        生产批次：
                        <div class="layui-inline">
                            <input class="layui-input" name="batchNo" id="batchNo" autocomplete="off">
                        </div>
                        状态：
                        <div class="layui-inline">
                            <div class="layui-form">
                                <select name="type" id="status" lay-filter="typeSelect">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <!--<button class="layui-btn" data-type="download">下载</button>
                        <button class="layui-btn" data-type="print">打印</button>-->
                    </div>

                    <table class="layui-hide" id="order-table" lay-filter="order-table"></table>


                    <script type="text/html" id="statusTpl">
                        {{#  if(d.status === 0){ }}
                        <span style="color: #F581B1;">新建</span>
                        {{#  } else if(d.status === 1) { }}
                        <span style="color: #F581B1;">生产</span>
                        {{#  } else if(d.status === 2) { }}
                        <span style="color: #F581B1;">完成</span>
                        {{#  } }}
                    </script>

                    <script type="text/html" id="user-table-barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$
            , element = layui.element
            , layer = layui.layer
            , table = layui.table;

        //方法级渲染
        table.render({
            elem: '#order-table'
            , url: domain + 'api/plan/findPlanPage?status=1&t=' + new Date().getTime()
            , cols: [[
                {field: 'planName', title: '生产代号', width: 120, sort: true}
                , {field: 'productName', title: '产品名称', width: 120, sort: true}
                , {field: 'batchNo', title: '生产批次', width: 110}
                , {field: 'deptName', title: '部门', width: 80, sort: true}
                , {field: 'num', title: '产品数量', width: 100}
                , {field: 'beginDate', title: '开始生产时间', width: 120}
                , {field: 'endDate', title: '结束生产时间', width: 115}
                , {field: 'status', title: '状态', width: 80, templet: '#statusTpl', unresize: true}
                , {align: 'center', fixed: 'right', toolbar: '#user-table-barDemo'}
            ]]
            , id: 'orderTable'
            , page: true
            ,height: 'full-100'
        });

        element.render();


        //监听工具条
        table.on('tool(order-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                var index = layer.open({
                    type: 2,
                    title: "查看生产计划",
                    content: 'plan-detail.html?sampleId=' + data.orderId,
                    area: ['300px', '300px'],
                    maxmin: true,
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        body.find('input[name="productName"]').val(data.productName);
                        body.find('input[name="num"]').val(data.num);
                        body.find('input[name="planName"]').val(data.planName);
                        body.find('input[name="deptName"]').val(data.deptName);
                        body.find('input[name="batchNo"]').val(data.batchNo);
                        body.find('input[name="beginDate"]').val(data.beginDate);
                        body.find('input[name="endDate"]').val(data.endDate);
                        if (data.remarks){
                            body.find('textarea[name="remarks"]').text(data.remarks);
                        }

                        body.find('input[name="productName"]').attr("disabled", "disabled");
                        body.find('input[name="num"]').attr("disabled", "disabled");
                        body.find('input[name="planName"]').attr("disabled", "disabled");
                        body.find('input[name="deptName"]').attr("disabled", "disabled");
                        body.find('input[name="batchNo"]').attr("disabled", "disabled");
                        body.find('input[name="beginDate"]').attr("disabled", "disabled");
                        body.find('input[name="endDate"]').attr("disabled", "disabled");
                        body.find('textarea[name="remarks"]').attr("disabled", "disabled");
                        body.find(".layui-layout-admin").remove();
                    }
                });
                layer.full(index);
            }

        });

        /* 触发弹层 */
        var active = {
            reload: function () {
                //执行重载
                table.reload('orderTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        productName: $('#productName').val(),
                        batchNo: $('#batchNo').val(),
                        status: $('#status').val()
                    }
                });
            }
        };

        $('.layui-btn-group .layui-btn, .demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

    });

</script>
</body>
</html>