<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/jquery.searchableSelect.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-inline" style="width: 450px;">
                            <select name="orderId" id="orderId" lay-ignore>
                                <option value="">请选择</option>
                            </select>
                            <input type="hidden" name="id" class="layui-input" readonly>
                            <input type="hidden" name="orderId" class="layui-input" readonly>
                        </div>
                        <label class="">默认只显示50条，可输入订单号搜索</label>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">款号</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="photoUrl" lay-verify="" class="layui-input">
                            <input type="text" name="sampleCode" lay-verify="required" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">订单号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="orderCode" lay-verify="required" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="productName" lay-verify="required" autocomplete="off" placeholder="请输入产品名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">生产部门</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="deptId" lay-verify="" class="layui-input">
                            <input type="hidden" name="deptName" lay-verify="" class="layui-input">
                            <select name="dept" lay-search="" lay-filter="deptName">
                                <option value="">请选择生产部门</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">生产工序</label>
                        <div class="layui-input-inline">
                            <input type="text" name="productionProcesses" lay-verify="required" autocomplete="off" placeholder="请输入生产工序" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">尺码</label>
                    <div class="layui-input-block">
                        <table class="layui-table" id="size">
                            <colgroup>
                                <col width="200">
                                <col width="200">
                                <col width="200">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>尺寸</th>
                                <th>颜色</th>
                                <th>订单量</th>
                                <th>机动量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" name="sizeType" value="4" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="6" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="8" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="12" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="14" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="16" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="sizeType" value="18" class="layui-input" readonly></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            <tr id="no_value">
                                <td><input type="text" name="sizeType" value="" class="layui-input"></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="orderNum" value="0" class="layui-input"></td>
                                <td><input type="text" name="maneuveringNumber" value="0" class="layui-input"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材料</label>
                    <div class="layui-input-block">
                        <table class="layui-table" id="material">
                            <colgroup>
                                <col width="200">
                                <col width="200">
                                <col width="200">
                                <col width="50">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>颜色</th>
                                <th>数量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" name="materialName" value="" class="layui-input"></td>
                                <td><select name="color" lay-search></select></td>
                                <td><input type="text" name="num" value="0" class="layui-input"></td>
                                <td><a href="javascript:void(0);" id="add_material">增加</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="remarks"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script src="../../layuiadmin/jquery-2.1.4.min.js"></script>
<script src="../../layuiadmin/jquery.searchableSelect.js"></script>
<script>
    function callback(value){
        $.ajax({
            type: 'GET',
            contentType: "application/json;",
            url: domain + "api/order/getOrder/" + value,
            success: function (result) {
                if (result.code == 0) {
                    var order = result.data;
                    $("input[name='orderId']").val(order.id);
                    $("input[name='sampleCode']").val(order.sampleCode);
                    $("input[name='orderCode']").val(order.orderCode);
                    $("input[name='photoUrl']").val(order.photoUrl);
                } else {
                    layer.alert(result.msg);
                }
            },
            error: function () {
                console.log("网络错误！");
            }
        });
    }
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;

        $.ajax({
            type: 'GET',
            contentType: "application/json;",
            url: domain + "api/color/findColor?t=" + new Date().getTime(),
            success: function (result) {
                if (result.code == 0) {
                    $("select[name='color']").append("<option value=\"\">请选择</option>");
                    $.each(result.data, function (index, value) {
                        $("select[name='color']").append("<option value=\"" + value.colorName + "\">" + value.colorName + "</option>");
                    })
                    form.render('select');
                } else {
                    layer.alert(result.msg);
                }
            },
            error: function () {
                console.log("网络错误！");
            }
        });
        $.ajax({
            type: 'GET',
            contentType: "application/json;",
            url: domain + "api/dept/findDeptTree?t=" + new Date().getTime(),
            success: function (result) {
                if (result.code == 0) {
                    $("select[name='dept']").append("<option value=\"\">请选择</option>");
                    $.each(result.data, function (index, value) {
                        $("select[name='dept']").append("<option value=\"" + value.id + "\">" + value.name + "</option>");
                        $.each(value.children, function (index2, value2) {
                            $("select[name='dept']").append("<option value=\"" + value2.id + "\">├─" + value2.name + "</option>");
                            $.each(value2.children, function (index3, value3) {
                                $("select[name='dept']").append("<option value=\"" + value3.id + "\">&nbsp;&nbsp;&nbsp;&nbsp;├─" + value3.name + "</option>");
                            })
                        })
                    })
                    form.render('select');
                } else {
                    layer.alert(result.msg);
                }
            },
            error: function () {
                console.log("网络错误！");
            }
        });

        form.render(null, 'component-form-group');

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: domain + "api/order/findOrderPage?limit=50&t=" + new Date().getTime(),
            success: function(data) {
                var tbody = "";
                $.each(data.data, function(n, value) {
                    var trs = "";
                    trs += "<option value=" + value.id + ">" + value.orderCode + "</option>";
                    tbody += trs;
                });
                $("#orderId").append(tbody);
                $.ajax({
                    type: 'GET',
                    contentType: "application/json;",
                    url: domain + "api/plan/getPlanDetailByPlanId/" + GetQueryString("id"),
                    success: function (result) {
                        if (result.code == 0) {
                            var plan = result.data.plan;
                            $("input[name='id']").val(plan.id);
                            $("input[name='orderId']").val(plan.orderId);
                            $("input[name='sampleCode']").val(plan.sampleCode);
                            $("input[name='photoUrl']").val(plan.photoUrl);
                            $("input[name='orderCode']").val(plan.orderCode);
                            $("input[name='productName']").val(plan.productName);
                            $("input[name='productionProcesses']").val(plan.productionProcesses);
                            $("input[name='deptId']").val(plan.deptId);
                            $("input[name='deptName']").val(plan.deptName);
                            $("select[name='dept']").val(plan.deptId);
                            $("textarea[name='remarks']").val(plan.remarks);
                            if(undefined == $("#orderId").find("option[value='" + plan.orderId + "']").val()){
                                $("#orderId").append("<option value=" + plan.orderId + ">" + plan.orderCode + "</option>");
                            }
                            $("#orderId").find("option[value='" + plan.orderId + "']").attr("selected",true);
                            //添加带搜索框的下拉框
                            $("#orderId").searchableSelect("api/order/searchOrder?code=");
                            console.log(result.data.detailList)
                            $.each(result.data.detailList, function (index, value) {
                                var $tr = $("input[value='" + value.sizeType + "']").closest("tr");
                                if(undefined == $("input[value='" + value.sizeType + "']").val() && "" != value.color) {
                                    $("#no_value").find("input[name='sizeType']").val(value.sizeType);
                                    $("#no_value").find("select[name='color']").val(value.color);
                                    $("#no_value").find("input[name='orderNum']").val(value.orderNum);
                                    $("#no_value").find("input[name='maneuveringNumber']").val(value.maneuveringNumber);
                                }
                                if("" != value.color){
                                    $($tr).find("input[name='sizeType']").val(value.sizeType);
                                    $($tr).find("select[name='color']").val(value.color);
                                    $($tr).find("input[name='orderNum']").val(value.orderNum);
                                    $($tr).find("input[name='maneuveringNumber']").val(value.maneuveringNumber);
                                }
                            });

                            $.each(result.data.materialList, function (index, value) {
                                if(0 === index && "" != value.color){
                                    var $tr = $("#material").find("tbody").find("tr");
                                    $($tr).find("input[name=\"materialName\"]").val(value.materialName);
                                    $($tr).find("select[name=\"color\"]").val(value.color);
                                    $($tr).find("input[name=\"num\"]").val(value.num);
                                } else if("" != value.color) {
                                    var $tr = $("#material").find("tbody")
                                    var html = $($tr).append("<tr>" + $($tr).find("tr").eq(0).html().replace("增加", "") + "</tr>");
                                    $($tr).append(html);
                                    $($tr).find("tr").eq(index).find("input[name=\"materialName\"]").val(value.materialName);
                                    $($tr).find("tr").eq(index).find("select[name=\"color\"]").val(value.color);
                                    $($tr).find("tr").eq(index).find("input[name=\"num\"]").val(value.num);
                                }
                            });
                            form.render('select');
                            $("#orderId").css("display", "none");
                        } else {
                            layer.alert(result.msg);
                        }
                    },
                    error: function () {
                        console.log("网络错误！");
                    }
                });
            },
        });

        /** 部门选中事件 */
        form.on('select(deptName)', function(data){
            console.log(data);
            console.log(data.elem[data.elem.selectedIndex].text.replace("├─", "").replace(/\s/g,""));
            $("input[name='deptId']").val(data.value);
            $("input[name='deptName']").val(data.elem[data.elem.selectedIndex].text.replace("├─", "").replace(/\s/g,""));
        });

        $("#add_material").click(function () {
            $(this).closest("tbody").append("<tr>" + $(this).closest("tr").html().replace("增加", "") + "</tr>");
            form.render('select');
        });

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            var _tr = $("#size").find("tbody").find("tr");
            var arr_details = [];
            $.each(_tr, function (index, tr) {
                var _td = $(tr).find("td");
                var detail = {};
                detail.sizeType = $(_td[0]).find("input[name='sizeType']").val();
                detail.color = $(_td[1]).find("select[name='color']").val();
                detail.orderNum = $(_td[2]).find("input[name='orderNum']").val();
                detail.maneuveringNumber = $(_td[3]).find("input[name='maneuveringNumber']").val();
                arr_details.push(detail);
            })
            var arr_material = [];
            var _tr = $("#material").find("tbody").find("tr");
            $.each(_tr, function (index, tr) {
                var _td = $(tr).find("td");
                var material = {};
                material.materialName = $(_td[0]).find("input[name='materialName']").val();
                material.color = $(_td[1]).find("select[name='color']").val();
                material.num = $(_td[2]).find("input[name='num']").val();
                arr_material.push(material);
            })
            var params = {
                plan: data.field,
                detailList: arr_details,
                materialList: arr_material
            }
            console.log(params);
            $.ajax({
                type: 'POST',
                contentType: "application/json;",
                url: domain + "api/plan/updatePlan",
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg(result.msg);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layui.table.reload('orderTable');
                        parent.layer.close(index);
                    } else {
                        layer.alert(result.msg);
                    }
                },
                error: function () {
                    console.log("网络错误！");
                }
            });
            return false;
        });
    });
</script>

</body>

</html>