<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }

    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">样品名称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="id" lay-verify="" autocomplete="off" class="layui-input">
                    <input type="text" name="sampleName" lay-verify="required" autocomplete="off" placeholder="请输入产品名称" class="layui-input">
                </div>
                <label class="layui-form-label">样品型号</label>
                <div class="layui-input-inline">
                    <input type="text" name="sampleCode" lay-verify="" autocomplete="off" placeholder="请输入样品型号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">样品照片</label>
                <div class="layui-input-block">
                    <!--<div class="layui-carousel" id="test-carousel-img">
                        <div carousel-item="" id="carousel-img">
                        </div>
                    </div>-->
                    <button class="layui-btn layui-btn-primary images" data-type="sampleImages">样品</button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">原材料</label>
                <div class="layui-input-block">
                    <table class="layui-hide" id="order-table" lay-filter="order-table"></table>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" id="LAY_demo1" name="remarks" style="display: none">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).use(['form', 'layedit', 'upload', 'carousel', 'table'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , layedit = layui.layedit
            ,carousel = layui.carousel
            , table = layui.table;

        var images_data = [];
        var json = {
            "code": 0,
            "msg": "",
            "start": 0
        }
        $.ajax({
            type: 'GET',
            url: domain + "api/sample/findSample/" + GetQueryString("id"),
            success: function (result) {
                if (result.code == 0) {
                    var data = result.data.sample;
                    table.render({
                        elem: '#order-table'
                        , url: domain + 'api/material/findMaterial/' + data.id
                        , cols: [[
                            {field: 'goodsName', title: '名称', width: 180, sort: true}
                            , {field: 'goodsModel', title: '型号', width: 150, sort: true}
                            , {field: 'color', title: '颜色', width: 100}
                            , {field: 'num', title: '数量', width: 100, sort: true}
                            , {field: 'unit', title: '单位', width: 80}
                            , {field: 'remarks', title: '备注'}
                        ]]
                        , id: 'orderTable'
                    });
                    if(undefined != data && null != data && "" != data && "null" != data){
                        $("input[name='sampleName']").val(data.sampleName);
                        $("input[name='sampleCode']").val(data.sampleCode);
                        if (data.photoUrl) {
                            var images = data.photoUrl.split(",");
                            $.each(images, function (index, image) {
                                //$('#upload-more-list').append('<img src="'+ image +'" class="layui-upload-img">');
                                $("#carousel-img").append("<div><img src=\"" + image + "\"></div>");
                                var image_data = {};
                                image_data.src = image;
                                images_data.push(image_data);
                                json.data = images_data;
                            });
                            //图片轮播
                            carousel.render({
                                elem: '#test-carousel-img'
                                ,width: '778px'
                                ,height: '440px'
                                ,interval: 5000
                            });

                        }
                        if(data.remarks){
                            $('.layui-textarea').text(data.remarks);
                            var indexEdit = layedit.build('LAY_demo1', {
                                tool: ['strong','italic','underline','del','|','left','center','right','link','unlink','face']
                                ,height: 100
                            });
                        }
                    }
                } else {
                    layer.alert(result.msg);
                }
            },
            error: function () {
                console.log("网络错误！");
            }
        });

        //事件
        carousel.on('change(test-carousel-demo)', function(res){
            console.log(res)
        });

        var indexEdit = layedit.build('LAY_demo1', {
            tool: ['strong','italic','underline','del','|','left','center','right','link','unlink','face']
            ,height: 100
        });
        form.render(null, 'component-form-group');


        console.log(json)

        var active = {
            sampleImages: function () {
                layer.photos({
                    photos: json //格式见API文档手册页
                });
            }
        };

        $('.layui-form-item .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });
    });
</script>

</body>

</html>