<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <style>
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }

    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">款号</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="id" lay-verify="required" class="layui-input">
                        <input type="text" name="sampleCode" lay-verify="required" autocomplete="off" placeholder="请输入款号" class="layui-input">
                    </div>
                    <label class="layui-form-label">针形</label>
                    <div class="layui-input-inline">
                        <input type="text" name="needle" lay-verify="" autocomplete="off" placeholder="请输入针形"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">款式</label>
                    <div class="layui-input-inline">
                        <input type="text" name="style" lay-verify="" autocomplete="off" placeholder="请输入款式"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">材料</label>
                    <div class="layui-input-inline">
                        <input type="text" name="material" lay-verify="required" autocomplete="off"
                               placeholder="请输入材料" class="layui-input">
                    </div>
                    <label class="layui-form-label">公司</label>
                    <div class="layui-input-inline">
                        <input type="text" name="company" lay-verify="" autocomplete="off" placeholder="请输入公司"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">客户品牌</label>
                    <div class="layui-input-inline">
                        <input type="text" name="brand" lay-verify="" autocomplete="off" placeholder="请输入客户品牌"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">颜色</label>
                    <div class="layui-input-inline">
                        <!--<input type="text" name="color" lay-verify="required" autocomplete="off" placeholder="请输入颜色" class="layui-input">-->
                        <select name="color" lay-search lay-filter="color">
                            <option value="">请选择</option>
                        </select>

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">上传多张图片</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="upload-more">多图片上传</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">预览图：</label>
                    <div class="layui-input-block">
                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            <div class="layui-upload-list" id="upload-more-list"></div>
                        </blockquote>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">原材料：</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="material-more">新增原材料</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <table class="layui-table">
                            <colgroup>
                                <col width="200">
                                <col width="200">
                                <col width="100">
                                <col width="50">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>尺寸</th>
                                <th>初样</th>
                                <th>单位</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="remarks"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即保存</button>
                            <button type="button" class="layui-btn layui-btn-primary">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script src="../../layuiadmin/commons.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).use(['form', 'laydate', 'layedit', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , layedit = layui.layedit
            ,upload = layui.upload;

        $.ajax({
            type: 'GET',
            contentType: "application/json;",
            url: domain + "api/color/findColor",
            success: function (result) {
                if (result.code == 0) {
                    $.each(result.data, function (index, value) {
                        $("select[name='color']").append("<option value=\"" + value.colorName + "\">" + value.colorName + "</option>");
                    })

                    $.ajax({
                        type: 'GET',
                        url: domain + "api/sample/findSample/" + GetQueryString("id"),
                        success: function (result) {
                            if (result.code == 0) {
                                var data = result.data;
                                var sample = data.sample;
                                if(undefined != sample && null != sample && "" != sample && "null" != sample){
                                    $("input[name='id']").val(sample.id);
                                    $("input[name='sampleCode']").val(sample.sampleCode);
                                    $("input[name='needle']").val(sample.needle);
                                    $("input[name='style']").val(sample.style);
                                    $("input[name='material']").val(sample.material);
                                    $("input[name='company']").val(sample.company);
                                    $("input[name='brand']").val(sample.brand);
                                    $("select[name='color']").val(sample.color);
                                    form.render('select');
                                    $("input[name='remarks']").val(sample.remarks);
                                    if(sample.photoUrl){
                                        var images = sample.photoUrl.split(",");
                                        $.each(images, function (index, image) {
                                            $('#upload-more-list').append('<img src="'+ image +'" class="layui-upload-img">');
                                            $('#upload-more-list').after('<input type="hidden" name="photoUrls" value="' + image + '" class="layui-input">');
                                        });
                                    }
                                }
                                $.each(data.details, function (index, detail) {
                                    if(sample.status === 1){
                                        $(".layui-table").find("tbody").append("<tr><td style='display: none;' id='id'>" + detail.id + "</td><td>" + detail.attribute + "</td>" +
                                            "<td>" + detail.value + "</td><td>" + detail.unit + "</td><td></td></tr>");
                                    }else {
                                        $(".layui-table").find("tbody").append("<tr><td style='display: none;' id='id'>" + detail.id + "</td><td>" + detail.attribute + "</td>" +
                                            "<td>" + detail.value + "</td><td>" + detail.unit + "</td><td><a href='javascript:void(0);' class='layui-btn layui-btn-xs layui-delete'>删除</a></td></tr>");
                                    }
                                });
                            } else {
                                layer.alert(result.msg);
                            }
                        },
                        error: function () {
                            console.log("网络错误！");
                        }
                    });

                } else {
                    layer.alert(result.msg);
                }
            },
            error: function () {
                console.log("网络错误！");
            }
        });



        $(".layui-table").on("click", ".layui-delete", function () {
            var $tr = $(this).closest("tr");
            layer.confirm('确认删除样品尺寸？', function (index) {
                if($($tr).find("td").eq(0).attr("id")){
                    var id = $($tr).find("td").eq(0).text();
                    $.ajax({
                        type: 'GET',
                        contentType: "application/json;",
                        url: domain + "api/sample/deleteSampleDetail/" + id,
                        success: function (result) {
                            if (result.code == 0) {
                                layer.msg(result.msg);
                                $($tr).remove();
                            } else {
                                layer.alert(result.msg);
                            }
                        },
                        error: function () {
                            console.log("网络错误！");
                        }
                    });
                }else {
                    $($tr).remove();
                    layer.close(index);
                }
            });
        });

        $(".layui-btn-primary").click(function () {
            layer.confirm('提交之后进入下一个环节将不可修改，确认提交？', function (index) {
                var data = {
                    id: $("input[name='id']").val(),
                    sampleName: $("input[name='sampleName']").val(),
                    sampleCode: $("input[name='sampleCode']").val(),
                    status: 1,
                    remarks: layedit.getContent(indexEdit)
                };

                var _tr = $(".layui-table").find("tbody").find("tr");
                var arr = [];
                $.each(_tr, function (index, tr) {
                    var _td = $(tr).find("td");
                    var detail = {};
                    if($(_td[0]).attr("id")){
                        detail.id =  $(_td[0]).text();
                        detail.attribute = $(_td[1]).text();
                        detail.value = $(_td[2]).text();
                        detail.unit = $(_td[3]).text();
                    } else {
                        detail.attribute = $(_td[0]).text();
                        detail.value = $(_td[1]).text();
                        detail.unit = $(_td[2]).text();
                    }
                    arr.push(detail);
                })

                var photoUrls = [];
                $.each($("input[name='photoUrls']"), function (index, value) {
                    photoUrls.push($(value).val());
                })
                var params ={
                    sample: data,
                    detailList: arr,
                    sampleUrls: photoUrls.join(",")
                }
                console.log(photoUrls);
                $.ajax({
                    type: 'POST',
                    contentType: "application/json;",
                    url: domain + "api/sample/insertSample",
                    data: JSON.stringify(params),
                    success: function (result) {
                        if (result.code == 0) {
                            layer.msg(result.msg);
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layui.table.reload('orderTable');
                            parent.layer.close(index);
                        } else {
                            layer.alert(result.msg);
                        }
                    },
                    error: function () {
                        console.log("网络错误！");
                    }
                });
            });
        });

        //多图片上传
        upload.render({
            elem: '#upload-more'
            ,url: domain + 'api/upload'
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                });
            }
            ,done: function(res){
                //上传完毕
                if(res.code == 0){
                    $.each(res.data, function (index, image) {
                        $('#upload-more-list').append('<img src="'+ image +'" class="layui-upload-img">');
                        $('#upload-more-list').after('<input type="hidden" name="photoUrls" value="' + image + '" class="layui-input">');
                    })
                }
            }
        });

        $("#material-more").click(function () {
            var index = layer.open({
                type: 2,
                title: "工艺尺寸",
                content: 'sample-detail-add.html',
                area: ['500px', '320px'],
                maxmin: true,
                success: function (layero, index) {
                    var body = layer.getChildFrame('body', index);
                }
            });
            //layer.full(index);
        });

        form.render(null, 'component-form-group');


        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            var _tr = $(".layui-table").find("tbody").find("tr");
            var arr = [];
            $.each(_tr, function (index, tr) {
                var _td = $(tr).find("td");
                var detail = {};
                if($(_td[0]).attr("id")){
                    detail.id =  $(_td[0]).text();
                    detail.attribute = $(_td[0]).text();
                    detail.value = $(_td[1]).text();
                    detail.unit = $(_td[2]).text();
                } else {
                    detail.attribute = $(_td[0]).text();
                    detail.value = $(_td[1]).text();
                    detail.unit = $(_td[2]).text();
                }
                arr.push(detail);
            })
            var photoUrls = [];
            $.each($("input[name='photoUrls']"), function (index, value) {
                photoUrls.push($(value).val());
            })
            var params ={
                sample: data.field,
                detailList: arr,
                sampleUrls: photoUrls.join(",")
            }
            console.log(photoUrls);
            $.ajax({
                type: 'POST',
                contentType: "application/json;",
                url: domain + "api/sample/insertSample",
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg(result.msg);
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layui.table.reload('orderTable');
                        parent.layer.close(index);
                    } else {
                        layer.alert(result.msg);
                    }
                },
                error: function () {
                    console.log("网络错误！");
                }
            });
            return false;
        });
    });
</script>

</body>

</html>